* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  padding: 5rem;

  min-height: 100vh;
  transition: background-color 0.2s ease-in;
}

body.dark {
  background-color: #1f1f1f;
  color: #fff;
}

.toggle-container {
  position: fixed;
  top: 10px;
  right: 10px;
}

input {
  visibility: hidden;
}

label {
  user-select: none;
  cursor: pointer;
  background-color: #1f1f1f;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  transition: background-color 0.2s ease-in;
}

body.dark label {
  background-color: #fff;
}
